@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global body styling */
body {
  @apply bg-white text-black dark:bg-black dark:text-white;
}

/* Custom font-face fallback (optional) */
@font-face {
  font-family: 'Inter Tight';
  src: url('/fonts/InterTight.woff2') format('woff2');
  font-weight: 100 200;
  font-style: normal;
  font-display: swap;
}


.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}v

/* mouseFlower effect  */
.mouse-follower {
  pointer-events: none;
  position: fixed;
  z-index: 9999;
  transition: transform 0.075s ease-out;
}

.mouse-outer {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mouse-inner {
  width: 8px;
  height: 8px;
  background: Black;
  border-radius: 9999px;
}
