@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global body styling */
body {
  @apply bg-white text-black dark:bg-black dark:text-white;
}

@media only screen and (min-width: 1550px) {
  html {
    font-size: 22px;
  }
}

/* Custom font-face fallback (optional) */
@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/InterTight.woff2") format("woff2");
  font-weight: 100 200;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .swiper-pagination-custom .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #d1d5db;
    opacity: 1;
    margin: 0 4px;
    transition: all 0.3s ease;
  }

  .swiper-pagination-custom .swiper-pagination-bullet-active {
    background-color: #7a56d6;
    transform: scale(1.2);
  }

  .mySwiper {
    padding: 20px 120px;
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-slide > div {
    height: 100%;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
v

/* mouseFlower effect  */
.mouse-follower {
  pointer-events: none;
  position: fixed;
  z-index: 9999;
  transition: transform 0.075s ease-out;
}

.mouse-outer {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mouse-inner {
  width: 8px;
  height: 8px;
  background: Black;
  border-radius: 9999px;
}

.swiper-pagination-custom .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #d1d5db;
  opacity: 1;
  margin: 0 4px;
  transition: all 0.3s ease;
}

.swiper-pagination-custom .swiper-pagination-bullet-active {
  background-color: #7a56d6;
  transform: scale(1.2);
}

.mySwiper {
  padding: 20px 120px;
}

.swiper-slide {
  height: auto;
}

.swiper-slide > div {
  height: 100%;
}
